<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devlat.veri.bangundatar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".perseegi"
            android:label="Persegi"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PersegiPanjang"
            android:label="Persegi Panjang"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Lingkaran"
            android:label="Lingkaran"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Segitiga"
            android:label="Segitiga"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LuasSegitiga"
            android:label="Luas Segitiga"
            android:parentActivityName=".Segitiga"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Segitiga" />
        </activity>
        <activity
            android:name=".KellSegitiga"
            android:label="Keliling Segitiga"
            android:parentActivityName=".Segitiga">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Segitiga" />
        </activity>
    </application>

</manifest>